/** code插件 */
.myibu-code-wrapper {
    position: relative;
    background: #2d2d2d;
    color: #ffffff;
    border-radius: 4px;
    /** 添加行号计数*/
    counter-reset: line;
    margin-top: 30px;
}
.myibu-code {
    display: block;
    background-color: #2d2d2d !important;
    font-size: 12px;
    /** 水平滚动*/
    overflow-x: auto !important;
}

.myibu-code-line {
    background-color: #2d2d2d !important;
    color: #ffffff !important;
    /** 空白会被浏览器保留 */
    white-space: pre !important;
}

.myibu-code-line:before {
    display: inline-block;
    width: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 1.2em;
    counter-increment: line;
    /** 添加行号*/
    content: counter(line);
    border-right: 1px solid #8a8a8a;
    color: #8a8a8a;
    text-align: right;
    height: 100%;
}

.myibu-code-copy {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #9999AA;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    font-size: 13px;
}

code {
    background-color: #2d2d2d !important;
    color: #ffffff !important; 
}

/** 图片放大插件*/
.myibu-img-wrapper {
    display: block;
    position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,.5); 
}

.myibu-img-popup {
    margin: auto;
    display: block;
    border-radius: 4px;
    padding-top: 100px;
    height: 90%;
    cursor: zoom-out;
    transition: transform .2s ease-in-out;
    transform-origin: 0 0;
}

.myibu-img {
    cursor: zoom-in;
    transition: all .15s linear;
}

/** 章节目录折叠 */
.myibu-chapter-span {
    display: inline-block !important;
    /* padding: 10px 0px 10px 5px !important; */
    width: 90%;
}

.myibu-chapter-expand-btn {
    display: inline-block !important; 
    width: 24px;
    padding: 0 10px !important;
}

.myibu-chapter-span:hover {
    background: rgba(0, 0, 0, 0.03) !important;
    cursor: pointer;
    text-decoration: none !important;
}

li.active > a {
    border-left: 2px solid #2d2d2d !important;
    background: rgba(0, 0, 0, 0.03) !important;
    color: #000000 !important;
}

li.active > a:hover {
    background: rgba(0, 0, 0, 0.03) !important;
}

.myibu-chapter-show-btn {
    display: block;
    text-align: center;
    line-height: 40px;
    position: relative;
    width: 40px;
    height: 40px;
    top: 50vh;
    border-radius: 40px;
    background: #e8eaed;
    color: #2d2d2d;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    z-index: 1005;
}

.fa-angle-left {
    left: 240px;
}
 
.fa-angle-right {
    left: -20px;
    width: 60px;
    padding-left: 20px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    cursor: pointer;
}

/** 页内导航 */
.book {
    background: #ffffff !important;
}

.book-header {
    display: none;
    width: 100% !important;
    height: 70px;
    background: #ffffff !important;
}

.book-summary {
    background: #ffffff !important;
    top: 70px;
}

.book-body {
    background: #ffffff !important;
    display: flex !important;
    top: 70px;
}

.body-inner {
    background: #ffffff !important;
    /** 上下flex布局 */
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-wrapper {
    background: #ffffff !important;
    /** 左右flex布局 */
    display: flex !important;
    flex-direction: row;
    width: 100%;
    /** 自动扩充 */
    flex-grow: 1;
}

.page-inner {
    /** 占75%空间 */
    flex: 0 0 75%;
    max-width: 75%;
    padding: 50px;
}

.myibu-page-inner-nav-wrapper {
    /** 占25%空间 */
    flex: 0 0 25%;
    max-width: 25%;
}

.myibu-page-inner-nav {
    position: fixed;
    top: 70px;
    border-left: #ebebeb solid 2px;
    padding: 0 20px;
    overflow-y: auto;
    min-width: 20rem;
    max-width: 30rem;
    max-height: 80vh;

}

.myibu-page-inner-nav-title {
    /** 字体变粗 */
    font-weight: bold;
}

.myibu-page-inner-nav ul, .myibu-page-inner-nav li {
    /** 去除项目符号*/
    list-style: none;
}

.myibu-page-inner-nav > ul {
    padding: 0px;
}

.myibu-page-inner-nav a {
    display:block;
    /** 设置行高 */
    line-height: 30px;
    height: 30px;
    /** 去掉a标签的下划线 */
    text-decoration: none;
    color: #2d2d2d !important;
    /** 超出字数使用省略号表示 */
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-left: 5px;
    /** 不换行 */
    white-space:nowrap;
}

.myibu-page-inner-nav a:hover {
    border-left: 2px solid #2d2d2d !important;
    background: rgba(0, 0, 0, 0.03) !important;
}


/** 隐藏左右导航 */
.navigation {
    display: none;
}

/** 隐藏gitbook-link*/
.gitbook-link {
    visibility: hidden;
}

/** 菜单导航 */
.myibu-top-menu {
    display: flex;
    flex-direction: row;
    /** 水平主轴居中 */
    justify-content: center;
    /** 垂直交叉轴居中 */
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    height: 48px;
    box-shadow:  0 2px 8px rgba(0, 0, 0, .15);
}

.myibu-top-menu ul {
    height: 48px;
    margin: 0;
    padding: 0;
}

.myibu-top-menu li {
    float: left;
    list-style: none;
    line-height: 48px;
    padding: 0 1.5em;
    color: #858585;
}

.myibu-top-menu li a {
    color: rgba(0,0,0,.7);
    padding: 5px 0;
}

.myibu-top-menu li a:hover {
    border-bottom: 2px solid #2d2d2d !important;
}

.myibu-top-menu-active {
    color: #2d2d2d !important;
    border-bottom: 2px solid #2d2d2d !important;
}

/** 搜索框 */
.myibu-top-menu-actions {
    float: left;
}

#book-search-input {  
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 5px !important;
    min-width: 15rem;
    max-width: 20rem;
    height: 40px !important;
    border: 1px solid #ebebeb !important;
}

/** 响应式布局 */
@media screen and (max-width: 600px) {
    .page-inner {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1rem;
    }
    
    .myibu-page-inner-nav-wrapper {
        flex: 0 0 0%;
        max-width: 0%;
    }
}